@use "_variables";

.common_navigation {
  display: none;
  @include variables.res(lg) {
    display: flex;
    align-items: center;
  }

  &__contents {
  }

  &__side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    margin-bottom: 20px;
  }

  &__button {
    a {
      font-weight: 600;
      display: flex;
      justify-content: center;
      gap: 14px;
      width: 144px;
      height: 40px;
      line-height: 40px;

      border-radius: 4px;
      letter-spacing: 0.12em;

      text-align: center;
      transition: all 300ms;
      font-size: variables.$fz14;

      border: 1px solid variables.$contrast;
      background-color: variables.$contrast;
      color: white;

      &:hover {
        color: variables.$contrast;
        background-color: white;
      }
    }
    &.primary {
      a {
        border: 1px solid variables.$primary;
        background-color: variables.$primary;

        &:hover {
          background-color: white;
          color: variables.$primary;
        }
      }
    }
  }

  &__main {
  }

  &__list {
    display: flex;
    // justify-content: space-between;
    gap: 18px;

    //fade
    transition: opacity 250ms, visibility 0s ease 250ms;
    list-style: none;
    opacity: 1;
    visibility: visible;

    // display: none;
    display: flex;
    // @include lg(){
    //   display: flex;
    // }
  }

  &__item {
    position: relative;

    a {
      padding: 4px 0;
      display: flex;
      position: relative;
      align-items: center;
      // border: 1px solid #000;
      // padding-top: 5px;
      // padding-bottom: 5px;
      // height: 65px;
      // padding: 0 1.1em;
      text-decoration: none;
      letter-spacing: 0.1em;
      font-weight: 700;

      &:hover {
        text-decoration: none;
      }

      .default {
        transition: all 0.5s;
        opacity: 1;
      }
      .hover {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: all 0.5s;
        opacity: 0;
        text-align: center;
      }

      .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        height: 4px;
        display: block;
        // background: #ddd;
        width: 0;
        transition: all 300ms;

        // &:before{
        //   position: absolute;
        //   bottom: 0;
        //   left: 0;
        //   display: block;
        //   content:'';
        //   width: 0;
        //   height: 4px;
        //   // background: #01A2F2;
        //   transition: all 300ms 200ms;
        // }
      }

      &:hover {
        // .default{
        //   transform: translateY(-15px);
        //   opacity: 0;
        // }
        // .hover{
        //   opacity: 1;
        // }
        .underline {
          width: 100%;
          &:before {
            width: 100%;
          }
        }
      }
    }

    &.current {
      a {
        pointer-events: none;
        .underline {
          width: 100%;
          // background: linear-gradient(85deg, #007CE1 6%, #00AFF7 75%);
          transition: all 300ms 100ms;
          transition: color 500ms;
        }
      }
    }
  }
}
