@use "_variables";

// -------------------------------------------------
// responsive
// -------------------------------------------------

.search_select {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  gap: 20px;
  margin-top: 40px;
  padding: 0 20px;

  max-width: 620px;
  margin-left: auto;
  margin-right: auto;

  @include variables.res(lg) {
    max-width: initial;
    flex-direction: row;
    gap: 20px;
    margin-top: 60px;
    padding: 0;
    // height: 75px;
  }

  & > * {
    box-sizing: border-box;
  }

  &__x {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    @include variables.res(lg) {
      height: 75px;
    }
  }

  &__box {
    position: relative;
    width: 100%;
    max-width: 100%;

    @include variables.res(lg) {
      width: 390px;
      max-width: 390px;
    }
  }

  &__inner {
    overflow: hidden;

    border-radius: 10px;
    border: 2px solid variables.$contrast;
    background-color: #fff;
  }

  &__check {
    display: none;
  }

  &__button {
    display: block;
    position: relative;
    width: 100%;
    max-width: initial;
    height: 70px;
    padding: 0 50px 0 50px;
    font-size: variables.$fz16;
    font-weight: 500;
    color: variables.$contrast;
    background-color: #fff;
    appearance: none;
    font-weight: bold;
    cursor: pointer;
    transition: border-color 0.3s;

    @include variables.res(lg) {
      max-width: 390px;

      height: 75px;
      padding: 0 60px 0 50px;
      font-size: variables.$fz18;
    }

    &:hover {
      border-color: #bbb;
    }

    &:focus {
      outline: none;
      border-color: variables.$primary;
    }

    .label {
      display: flex;
      width: 100%;
      align-items: center;
      // text-align: left;
      height: 70px;

      @include variables.res(lg) {
        height: 75px;
      }
    }
    .icon {
      position: absolute;
      top: 50%;
      left: 24px;
      z-index: 99;
      transform: translateY(-50%);
    }

    .arrow {
      position: absolute;
      top: 50%;
      right: 22px;
      z-index: 99;
      transform: translateY(-50%);
    }
  }

  &__check:checked ~ &__button {
    .arrow {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__menu {
    display: none;
  }
  &__check:checked ~ &__menu {
    display: block;
  }

  &__menu {
    position: relative;
    padding: 0 24px 20px;
    // @include variables.res(lg) {
    //   padding: 0 24px 20px;
    // }

    &_list {
      display: flex;
      flex-direction: column;
      gap: 12px;

      @include variables.res(lg) {
        gap: 16px;
      }
    }
  }

  &__area,
  &__type {
    font-size: variables.$fz16;
    @include variables.res(lg) {
      font-size: variables.$fz16;
    }

    &_check {
      display: none;
    }

    &_title {
      display: inline-flex;
      width: 100%;
      // align-items: center;
      cursor: pointer;
      // gap: 12px;
      // font-weight: bold;

      .checkbox {
        flex-shrink: 0;
        width: 18px;
        height: 18px;
        display: block;
        margin-top: 3px;
        // width: 100%;
        // height: 100%;
        padding: 0;
        box-sizing: border-box;
        transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
        border: 1px solid variables.$gray-dark;
        box-shadow: inset 0 1px 2px rgba(black, 0.25);

        border-radius: 2px;
        background: #fff;
        position: relative;
        overflow: hidden;

        &::after {
          display: block;
          width: 60%;
          height: 35%;
          content: "";
          position: absolute;
          border-left: 2.2px solid;
          border-bottom: 2.2px solid;
          border-color: rgba(0, 0, 0, 0);
          transform: rotate(-45deg) translate3d(0, 0, 0);
          transform-origin: center center;
          transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
          left: 22%;
          right: 0;
          top: 25%;
          bottom: 5%;
        }

        &::before {
          content: "";
          display: block;
          width: 65%;
          height: 2px;
          background: white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
          opacity: 0;
        }
      }

      .label {
        margin-left: 12px;
      }

      .count {
        margin-left: 5px;
        color: variables.$primary;
      }

      .arrow {
        cursor: pointer;
        color: variables.$primary;
        margin-left: auto;
        .plus {
          display: block;
        }
        .minus {
          display: none;
        }
      }
    }

    // &_title:hover {
    //   color: variables.$contrast-light;
    // }

    &_check:checked ~ &_title {
      .checkbox {
        border: 1px solid variables.$primary;
        background: variables.$primary;

        &::before {
          opacity: 0 !important;
        }

        &::after {
          opacity: 1 !important;
          border-color: white;
        }
      }
    }

    // ------------------------------------------
    // show
    // ------------------------------------------
    &_menu {
      display: none;
      padding-bottom: 20px;
      padding-right: 10px;
      @include variables.res(lg) {
        padding-bottom: 20px;
        padding-right: 10px;
      }
    }

    &_show {
      display: none;
    }

    &_show:checked ~ &_title {
      .arrow {
        .plus {
          display: none;
        }
        .minus {
          display: block;
        }
      }
    }

    &_show:checked ~ &_menu {
      display: block;
    }
  }

  &__area,
  &__type {
    &_list {
      margin-top: 14px;
      padding-left: 31px;
      display: flex;
      flex-direction: column;
      gap: 14px;

      @include variables.res(lg) {
        gap: 14px;
      }
    }

    &_item {
      display: inline-flex;
      // align-items: center;
      cursor: pointer;
      // gap: 12px;
      // font-weight: bold;

      .checkbox {
        flex-shrink: 0;
        width: 18px;
        height: 18px;
        display: block;
        margin-top: 3px;
        // width: 100%;
        // height: 100%;
        padding: 0;
        box-sizing: border-box;
        transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
        border: 1px solid variables.$gray-dark;
        box-shadow: inset 0 1px 2px rgba(black, 0.25);

        border-radius: 2px;
        background: #fff;
        position: relative;
        overflow: hidden;

        &::after {
          display: block;
          width: 60%;
          height: 35%;
          content: "";
          position: absolute;
          border-left: 2.2px solid;
          border-bottom: 2.2px solid;
          border-color: rgba(0, 0, 0, 0);
          transform: rotate(-45deg) translate3d(0, 0, 0);
          transform-origin: center center;
          transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
          left: 22%;
          right: 0;
          top: 25%;
          bottom: 5%;
        }
      }

      .label {
        margin-left: 12px;
      }

      .count {
        margin-left: 5px;
        color: variables.$primary;
      }

      .search_select__check:checked ~ .checkbox {
        border: 1px solid variables.$primary;
        background: variables.$primary;

        &::after {
          border-color: white;
        }
      }
    }

    &_item_check {
      display: none;
    }

    &_item_check:checked ~ .checkbox {
      border: 1px solid variables.$primary;
      background: variables.$primary;

      &::after {
        border-color: white;
      }
    }

    // title [-]

    &_title.has-partial-checked {
      .checkbox {
        border: 1px solid variables.$primary;
        background: variables.$primary;

        &::after {
          opacity: 0;
        }
        &::before {
          opacity: 1;
        }
      }
    }

    // &_item_check:checked ~ &_menu {
    //   .search_select__area_item {
    //     .checkbox {
    //       border: 1px solid variables.$primary;
    //       background: variables.$primary;

    //       &::after {
    //         border-color: white;
    //       }
    //     }
    //   }
    // }

    // // item01
    // #search_select__area01_01:checked ~ &_menu label[for="search_select__area01_01"],
    // #search_select__area01_02:checked ~ &_menu label[for="search_select__area01_02"],
    // #search_select__area01_03:checked ~ &_menu label[for="search_select__area01_03"],
    // #search_select__area01_04:checked ~ &_menu label[for="search_select__area01_04"],
    // #search_select__area01_05:checked ~ &_menu label[for="search_select__area01_05"],
    // // item02
    // #search_select__area02_01:checked ~ &_menu label[for="search_select__area02_01"],
    // #search_select__area02_02:checked ~ &_menu label[for="search_select__area02_02"],
    // #search_select__area02_03:checked ~ &_menu label[for="search_select__area02_03"],
    // #search_select__area02_04:checked ~ &_menu label[for="search_select__area02_04"],
    // #search_select__area02_05:checked ~ &_menu label[for="search_select__area02_05"],
    // #search_select__area02_06:checked ~ &_menu label[for="search_select__area02_06"],
    // #search_select__area02_07:checked ~ &_menu label[for="search_select__area02_07"],
    // #search_select__area02_08:checked ~ &_menu label[for="search_select__area02_08"],
    // #search_select__area02_09:checked ~ &_menu label[for="search_select__area02_09"],
    // #search_select__area02_10:checked ~ &_menu label[for="search_select__area02_10"],
    // #search_select__area02_11:checked ~ &_menu label[for="search_select__area02_11"],
    // #search_select__area02_12:checked ~ &_menu label[for="search_select__area02_12"],
    // #search_select__area02_13:checked ~ &_menu label[for="search_select__area02_13"],
    // #search_select__area02_14:checked ~ &_menu label[for="search_select__area02_14"],
    // #search_select__area02_15:checked ~ &_menu label[for="search_select__area02_15"],
    // // item03
    // #search_select__area03_01:checked ~ &_menu label[for="search_select__area03_01"],
    // #search_select__area03_02:checked ~ &_menu label[for="search_select__area03_02"],
    // #search_select__area03_03:checked ~ &_menu label[for="search_select__area03_03"],
    // #search_select__area03_04:checked ~ &_menu label[for="search_select__area03_04"],
    // #search_select__area03_05:checked ~ &_menu label[for="search_select__area03_05"],
    // // item04
    // #search_select__area04_01:checked ~ &_menu label[for="search_select__area04_01"],
    // #search_select__area04_02:checked ~ &_menu label[for="search_select__area04_02"],
    // #search_select__area04_03:checked ~ &_menu label[for="search_select__area04_03"],
    // #search_select__area04_04:checked ~ &_menu label[for="search_select__area04_04"],
    // #search_select__area04_05:checked ~ &_menu label[for="search_select__area04_05"],
    // #search_select__area04_06:checked ~ &_menu label[for="search_select__area04_06"],
    // #search_select__area04_07:checked ~ &_menu label[for="search_select__area04_07"],
    // #search_select__area04_08:checked ~ &_menu label[for="search_select__area04_08"],
    // #search_select__area04_09:checked ~ &_menu label[for="search_select__area04_09"],
    // #search_select__area04_10:checked ~ &_menu label[for="search_select__area04_10"],
    // // item05
    // #search_select__area05_01:checked ~ &_menu label[for="search_select__area05_01"],
    // #search_select__area05_02:checked ~ &_menu label[for="search_select__area05_02"],
    // #search_select__area05_03:checked ~ &_menu label[for="search_select__area05_03"],
    // #search_select__area05_04:checked ~ &_menu label[for="search_select__area05_04"],
    // #search_select__area05_05:checked ~ &_menu label[for="search_select__area05_05"] {
    //   .checkbox {
    //     border: 1px solid variables.$primary;
    //     background: variables.$primary;

    //     &::after {
    //       border-color: white;
    //     }
    //   }
    // }

    // title [-]

    // //item01
    // #search_select__area01_01:checked ~ &_title[for="search_select__area01"],
    // #search_select__area01_02:checked ~ &_title[for="search_select__area01"],
    // #search_select__area01_03:checked ~ &_title[for="search_select__area01"],
    // #search_select__area01_04:checked ~ &_title[for="search_select__area01"],
    // #search_select__area01_05:checked ~ &_title[for="search_select__area01"],
    // //item02
    // #search_select__area02_01:checked ~ &_title[for="search_select__area02"],
    // #search_select__area02_02:checked ~ &_title[for="search_select__area02"],
    // #search_select__area02_03:checked ~ &_title[for="search_select__area02"],
    // #search_select__area02_04:checked ~ &_title[for="search_select__area02"],
    // #search_select__area02_05:checked ~ &_title[for="search_select__area02"],
    // #search_select__area02_06:checked ~ &_title[for="search_select__area02"],
    // #search_select__area02_07:checked ~ &_title[for="search_select__area02"],
    // #search_select__area02_08:checked ~ &_title[for="search_select__area02"],
    // #search_select__area02_09:checked ~ &_title[for="search_select__area02"],
    // #search_select__area02_10:checked ~ &_title[for="search_select__area02"],
    // #search_select__area02_11:checked ~ &_title[for="search_select__area02"],
    // #search_select__area02_12:checked ~ &_title[for="search_select__area02"],
    // #search_select__area02_13:checked ~ &_title[for="search_select__area02"],
    // #search_select__area02_14:checked ~ &_title[for="search_select__area02"],
    // #search_select__area02_15:checked ~ &_title[for="search_select__area02"],
    // //item03
    // #search_select__area03_01:checked ~ &_title[for="search_select__area03"],
    // #search_select__area03_02:checked ~ &_title[for="search_select__area03"],
    // #search_select__area03_03:checked ~ &_title[for="search_select__area03"],
    // #search_select__area03_04:checked ~ &_title[for="search_select__area03"],
    // #search_select__area03_05:checked ~ &_title[for="search_select__area03"],
    // //item04
    // #search_select__area04_01:checked ~ &_title[for="search_select__area04"],
    // #search_select__area04_02:checked ~ &_title[for="search_select__area04"],
    // #search_select__area04_03:checked ~ &_title[for="search_select__area04"],
    // #search_select__area04_04:checked ~ &_title[for="search_select__area04"],
    // #search_select__area04_05:checked ~ &_title[for="search_select__area04"],
    // #search_select__area04_06:checked ~ &_title[for="search_select__area04"],
    // #search_select__area04_07:checked ~ &_title[for="search_select__area04"],
    // #search_select__area04_08:checked ~ &_title[for="search_select__area04"],
    // #search_select__area04_09:checked ~ &_title[for="search_select__area04"],
    // #search_select__area04_10:checked ~ &_title[for="search_select__area04"],
    // //item05
    // #search_select__area05_01:checked ~ &_title[for="search_select__area05"],
    // #search_select__area05_02:checked ~ &_title[for="search_select__area05"],
    // #search_select__area05_03:checked ~ &_title[for="search_select__area05"],
    // #search_select__area05_04:checked ~ &_title[for="search_select__area05"],
    // #search_select__area05_05:checked ~ &_title[for="search_select__area05"] {
    //   .checkbox {
    //     border: 1px solid variables.$primary;
    //     background: variables.$primary;

    //     &::after {
    //       opacity: 0;
    //     }
    //     &::before {
    //       opacity: 1;
    //     }
    //   }
    // }
  }
}
