@use "../common/_variables";

// Main
.index_flow {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  // background-color: variables.$primary;

  @include variables.res(lg) {
    padding-top: 90px;
    padding-bottom: 80px;
  }

  // &__frame {
  //   background-color: variables.$primary;
  //   width: 100%;
  //   height: 460px;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 0;
  // }
  &__container {
    position: relative;
    z-index: 1;
  }
}

.index_flow {
  &__head {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @include variables.res(lg) {
      flex-direction: row;
    }

    &_item {
      position: relative;
      width: 100%;
      max-width: 60vw;
      min-width: 210px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      @include variables.res(lg) {
        width: 210px;
        max-width: initial;
        min-width: initial;
      }

      .label {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 66px;
        font-weight: bold;
        color: variables.$primary;
        background: white;
        border-radius: 1000px;
        box-shadow: 0 2px 4px 0 rgba(black, 0.15);

        &:after {
          content: "";
          width: 0;
          height: 0;
          border-left: 16px solid transparent;
          border-right: 16px solid transparent;
          border-top: 12px solid white;
          filter: drop-shadow(0 4px 3px rgba(black, 0.15));
          position: absolute;
          bottom: -12px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .number {
        position: relative;
        z-index: 1;
        display: none;
        background: variables.$primary;
        color: white;
        text-align: center;
        font-size: 1.11rem;
        border-radius: 1000px;
        width: 40px;
        height: 40px;
        line-height: 40px;

        @include variables.res(lg) {
          display: block;
        }
      }

      .sep {
        z-index: 0;
        position: absolute;
        bottom: 20px;
        height: 1px;
        background-color: variables.$primary;
        width: 300px;
        left: 50%;
        display: none;

        @include variables.res(lg) {
          display: block;
        }
      }
    }
  }
}

.index_flow {
  &__step {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 30px;

    @include variables.res(lg) {
      display: none;
    }

    .number {
      position: relative;
      z-index: 1;
      display: block;
      background: variables.$primary;
      color: white;
      text-align: center;
      font-size: 1.11rem;
      border-radius: 1000px;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }

    .sep {
      z-index: 0;
      position: absolute;
      bottom: 20px;
      height: 1px;
      background-color: variables.$primary;
      width: 200%;
      left: 50%;
      transform: translateX(-50%);
      display: block;
    }
  }
}

.index_flow {
  &__body {
    border-radius: 10px;
    border: 1px solid variables.$primary;
    margin-top: 60px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 55px;

    @include variables.res(lg) {
      padding: 40px;
      gap: 55px;
      margin-top: 60px;
    }
  }

  &__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    flex-direction: column;

    @include variables.res(lg) {
      gap: 50px;
      flex-direction: row;
    }
  }

  &__thb {
    width: 100%;
    flex: 0 0 50vw;
    // height: 285px;
    overflow: hidden;
    border-radius: 10px;

    @include variables.res(lg) {
      flex: 0 0 458px;
      width: auto;
      height: 285px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__contents {
    display: inline-flex;
    // gap: 50px;
    gap: 5px;
    flex-direction: column;

    @include variables.res(lg) {
      // gap: 50px;
      gap: 5px;
    }

    .step {
      .label {
        display: inline-block;
        letter-spacing: 0.1em;
        line-height: 35px;
        height: 35px;
        padding: 0 25px;
        background-color: variables.$primary;
        color: white;
        font-weight: bold;
        border-radius: 1000px;
        font-size: 0.7rem;

        @include variables.res(lg) {
        }
      }
    }

    .name {
      color: variables.$primary;
    }

    .contents {
      display: flex;
      flex-direction: column;
      gap: 5px;

      font-size: 0.88rem;
    }
  }
}
