@use "../common/_variables";

// Main
.index_type {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  // background-color: variables.$gray;

  @include variables.res(lg) {
    padding-top: 90px;
    padding-bottom: 80px;
  }

  // &__frame {
  //   background-color: variables.$primary;
  //   width: 100%;
  //   height: 460px;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 0;
  // }

  & * {
    box-sizing: border-box;
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__list {
    // max-width: 620px;

    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    // padding: 0 20px;
    // justify-content: center;

    @include variables.res(lg) {
      max-width: 1190px;

      flex-direction: row;
      padding: 0 20px;
      // gap: 45px;
      column-gap: 0;
      row-gap: 48px;
    }
  }

  &__item {
    padding: 0;
    display: flex;
    min-height: 100%;

    @include variables.res(lg) {
      padding: 0 24px;
      width: 33.3333%;
    }
  }

  &__inner {
    display: flex;
    align-items: stretch;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    // height: 90px;
    border: 2px solid variables.$primary;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    @include variables.res(lg) {
      width: 100%;
      max-width: 335px;
      // height: auto;
    }
  }

  &__thb {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    // min-height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    flex: 1;
    padding: 0 20px;
    display: flex;
    line-height: 1.3;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    align-items: center;
    font-size: variables.$fz16;
    color: variables.$primary;
    font-weight: bold;
    transition: all 300ms 100ms;

    @include variables.res(lg) {
      padding: 0 20px;
      min-height: 70px;
    }

    // p {
    //   font-size: 0.8rem;
    //   margin: 0;

    //   &:first-child {
    //     margin-bottom: 5px;
    //   }
    // }
    // strong {
    //   font-size: 1rem;
    //   color: variables.$primary;
    // }

    // p {
    //   width: 100%;
    // }

    span {
      // display: inline-block;
      font-size: 90%;
    }
  }

  &__arrow {
    flex-shrink: 0;
    color: variables.$primary;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: all 300ms 100ms;
  }

  // &__inner:hover {
  //   background: variables.$primary;
  //   color: white;
  // }

  &__inner:hover &__thb {
  }

  &__inner:hover &__text,
  &__inner:hover &__arrow {
    background: variables.$primary;
    color: white;
  }
}
