@use "../common/_variables";

// Main
.index_search {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: variables.$gray;

  @include variables.res(lg) {
    padding-top: 90px;
    padding-bottom: 80px;
  }

  // &__frame {
  //   background-color: variables.$primary;
  //   width: 100%;
  //   height: 460px;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 0;
  // }
  &__container {
    position: relative;
    z-index: 1;
  }

  &__cross {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #666;
    margin: 0;

    @include variables.res(lg) {
      display: none;
    }
  }

  &__contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    padding: 0 20px;

    @include variables.res(lg) {
      flex-direction: row;
      gap: 20px;
      margin-top: 60px;
      padding: 0;
    }
  }

  &__select {
    position: relative;
    width: 100%;
    max-width: 100%;

    @include variables.res(lg) {
      width: 390px;
      max-width: 390px;
    }

    select {
      position: relative;
      width: 100%;
      max-width: initial;
      height: 70px;
      padding: 0 50px 0 50px;
      font-size: variables.$fz16;
      font-weight: 500;
      color: variables.$contrast;
      background-color: #fff;
      border: 2px solid variables.$contrast;
      border-radius: 10px;
      appearance: none;
      font-weight: bold;
      cursor: pointer;
      transition: border-color 0.3s;

      @include variables.res(lg) {
        max-width: 390px;

        height: 75px;
        padding: 0 60px 0 50px;
        font-size: variables.$fz18;
      }

      &:hover {
        border-color: #bbb;
      }

      &:focus {
        outline: none;
        border-color: variables.$primary;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 20px;
      z-index: 99;
      transform: translateY(-50%);
    }

    .arrow {
      position: absolute;
      top: 50%;
      right: 15px;
      z-index: 99;
      transform: translateY(-50%);
    }
  }

  .button_search {
    width: 100%;
    height: 70px;
    margin-left: 0;
    margin-right: 0;
    padding: 0 40px;
    background-color: variables.$primary;
    border: 2px solid variables.$primary;
    color: #fff;
    // border: none;
    // border-radius: 40px;
    font-size: variables.$fz18;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    @include variables.res(lg) {
      width: 180px;
      height: 75px;
    }

    &:hover {
      // background-color: darken(variables.$primary, 10%);
      // transform: translateY(-2px);
      background-color: white;
      color: variables.$primary;
    }

    &:active {
      transform: translateY(0);
    }

    .icon {
      font-size: 20px;
    }

    .label {
      font-size: variables.$fz18;
      font-weight: 700;
    }
  }
}
