@use "../common/_variables";

// Index
.search_index {
  background-color: rgba(variables.$primary, 0.1);
}

// ------------------------------------------------
// Layout
// ------------------------------------------------

.search_container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16vw 0;

  @include variables.res(lg) {
    padding: 80px 20px;
    flex-direction: row-reverse;
  }
}

.search_side {
  flex: 1 1 100%;
  padding: 0 20px;
  @include variables.res(lg) {
    // flex: 0 0 265px;
    flex: 0 0 305px;
  }

  &__container {
  }
}

.search_main {
  width: 100%;
  padding: 0 20px 80px;
  @include variables.res(lg) {
    padding-bottom: 160px;
    // max-width: 815px;
    max-width: 855px;
  }

  &__container {
  }
}

// ------------------------------------------------
// parts
// ------------------------------------------------

.search_index {
  select {
    width: 100%;
    height: 46px;
    padding: 0 35px 0 15px;
    font-size: variables.$fz16;
    color: #666;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    appearance: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='none' stroke='%23999' stroke-width='16' stroke-linecap='round' stroke-linejoin='round' d='M96 184l64 64-64 64' transform='rotate(90 160 256)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) calc(50% + 4px);
    background-size: 25px;

    &:hover {
      border-color: #bbb;
    }

    &:focus {
      outline: none;
      // border-color: variables.$primary;
      box-shadow: 0 0 0 2px rgba(variables.$primary, 0.1);
    }
  }

  input[type="text"] {
    width: 100%;
    height: 46px;
    padding: 0 35px 0 15px;
    font-size: variables.$fz16;
    color: #666;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    appearance: none;
    cursor: pointer;

    &:hover {
      border-color: #bbb;
    }

    &:focus {
      outline: none;
      // border-color: variables.$primary;
      box-shadow: 0 0 0 2px rgba(variables.$primary, 0.1);
    }
  }
}

// ------------------------------------------------
// search_side
// ------------------------------------------------
.search_side {
  &__container {
    // border: 1px solid red;
    background: white;
    padding-bottom: 20px;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: variables.$primary;
    color: white;
    height: 55px;
  }
}

.search_side {
  .search_select {
    padding: 0;
    flex-direction: column;
    margin-top: 0;
    gap: 0;
    line-height: 1.3;

    &__x {
      display: none;
    }

    &__box {
      width: 100%;
      max-width: initial;
    }

    &__inner {
      border: none;
      border-radius: 0;
    }

    &__button {
      padding: 0 20px;
      height: 55px;
      font-size: variables.$fz16;

      .icon,
      .label,
      .arrow {
        display: none;
      }

      .search_side__button {
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        font-size: variables.$fz16;
        font-weight: normal;

        &_label {
          font-weight: bold;
        }

        &_icon {
          margin-left: auto;
          font-size: variables.$fz14;

          .plus {
            display: block;
          }
          .minus {
            display: none;
          }
        }

        &_caption {
          font-size: variables.$fz14;
        }
      }
    }

    &__check {
      display: none;
      &:checked ~ .search_select__button {
        .search_side__button {
          &_icon {
            .plus {
              display: none;
            }
            .minus {
              display: block;
            }
          }

          &_caption {
            // display: none;
          }
        }
      }
    }

    // search button
    .button_search {
      width: calc(100% - 20px - 20px);
      max-width: 100%;
      height: 50px;
      line-height: 47.5px;
      // margin-top: 16px;

      .icon {
        display: none;
      }
      .label {
        display: none;
      }

      .search {
        display: block;
        font-size: variables.$fz14;
      }
      .arrow {
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translate(0, -50%);
        font-size: variables.$fz14;
      }
    }

    &__menu {
      padding: 0 20px 20px;
    }

    &__area,
    &__type,
    &__conditions {
      &_title,
      &_item {
        font-size: variables.$fz14;

        .checkbox {
          margin-top: 0px;
        }
      }
    }
  }
}

.search_side {
  // 給与
  .search_select {
    &__income {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 14px;
      padding: 20px;

      &_title {
        white-space: nowrap;
        font-weight: bold;
        font-size: variables.$fz16;
      }

      &_select {
        flex: 0 0 186px;
      }
    }
  }

  // キーワード
  .search_select {
    &__keyword {
      display: block;
      gap: 10px;
      padding: 20px;

      &_title {
        margin-bottom: 14px;
        font-weight: bold;
        font-size: variables.$fz16;
      }

      &_input {
        flex: 0 0 186px;
      }
    }
  }

  // こだわり
  .search_select {
    &__conditions {
      display: block;
      gap: 10px;
      padding: 20px;

      &_title {
        margin-bottom: 14px;
        font-weight: bold;
        font-size: variables.$fz16;
      }

      &_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}

// ------------------------------------------------
// search_main
// ------------------------------------------------
.search_main {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include variables.res(lg) {
      gap: 40px;
    }
  }
}

.search_main {
  &__top {
    display: flex;
    justify-content: space-between;
    font-size: variables.$fz16;

    .count {
      .number {
        font-size: 200%;
        font-weight: bold;
      }
    }

    .order {
      display: flex;
      align-items: center;
      gap: 10px;

      .select {
        flex: 0 0 120px;
      }
    }
  }
}

.search_main {
  // ------------------------------------
  // layout
  // ------------------------------------
  &__panel {
    // display: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include variables.res(lg) {
      gap: 40px;
    }

    & > input[type="checkbox"] {
      display: none;
    }

    // title
    &_title {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      border-radius: 5px;
      font-size: variables.$fz14;
      font-weight: bold;
      border: 1px solid variables.$primary;
      background: variables.$primary;
      color: white;

      @include variables.res(lg) {
      }

      .arrow {
        position: absolute;
        top: 50%;
        right: 45px;
        transform: translateY(-50%);
      }
    }

    & > input[type="checkbox"]:checked ~ &_title {
      color: variables.$primary;
      background: white;

      .arrow {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    // body
    &_body {
      display: none;
      flex-direction: column;
      gap: 40px;
      @include variables.res(lg) {
        gap: 40px;
      }
    }
    & > input[type="checkbox"]:checked ~ &_body {
      display: flex;
    }
  }

  // ------------------------------------
  // result
  // ------------------------------------
  &__panel {
    &_result {
      padding: 40px 60px;
      background: white;
      border-radius: 10px;

      @include variables.res(lg) {
        padding: 40px 60px;
      }

      .title {
        font-weight: bold;
        font-size: variables.$fz16;
        margin-bottom: 22px;
        @include variables.res(lg) {
          margin-bottom: 22px;
        }
      }

      .contents {
        font-size: variables.$fz14;

        dl {
          position: relative;
          padding: 22px 0;
          display: flex;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-top: 1px solid variables.$gray;
          }
        }

        dt {
          flex: 0 0 100px;
          font-weight: bold;
          color: variables.$primary;
        }

        dd {
          flex: 1 1 100%;
        }
      }
    }
  }

  // ------------------------------------
  // list
  // ------------------------------------
  &__panel {
    &_list {
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      @include variables.res(lg) {
        // gap: 40px;
        // gap: 1px;
      }
    }
    &_item {
      background: white;
    }

    &_item {
      & > input[type="checkbox"] {
        display: none;
      }
    }

    &_subject {
      cursor: pointer;
      height: 55px;
      display: flex;
      gap: 8px;
      align-items: center;
      padding: 0 16px;
      background: variables.$primary;
      border-bottom: 1px solid darken(variables.$primary, 5);
      color: white;
      font-weight: bold;
      font-size: variables.$fz16;

      @include variables.res(lg) {
        padding: 0 60px;
      }

      .icon {
        display: flex;
        justify-content: center;
        width: 20px;
        height: 16px;
        img {
          // width: auto;
          // height: 100%;
        }
      }
      .label {
      }
      .arrow {
        margin-left: auto;
        font-size: 86%;
      }
    }

    &_item > input:checked ~ &_subject {
      border-bottom: none;
      .arrow {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    &_block {
      display: none;
    }

    &_item > input:checked ~ &_block {
      display: flex;
    }

    //checkbox
    &_block {
      padding: 24px 20px 4px;

      flex-direction: column;
      gap: 20px;

      @include variables.res(lg) {
        padding: 24px 60px 4px;
        gap: 20px;
      }

      &.block-last {
        padding-bottom: 24px;
        @include variables.res(lg) {
          padding-bottom: 24px;
        }
      }

      .search_select__area,
      .search_select__type,
      .search_select__conditions {
        display: block;
        font-size: variables.$fz14;

        &_title {
          .count {
            display: none;
          }
          .arrow {
            display: none;
          }
          .checkbox {
            margin-top: 1px;
          }
        }

        &_menu {
          display: block;
        }

        &_list {
          // margin-left: 31px;
          // padding-left: 0;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 16px;
          @include variables.res(lg) {
            column-gap: 32px;
            row-gap: 16px;
          }
        }

        &_item {
          width: calc(50% - 8px);
          @include variables.res(lg) {
            width: auto;
          }

          .label {
            // white-space: nowrap;
            margin-left: 10px;
          }
          .checkbox {
            margin-top: 1px;
          }
        }
      }
    }

    &_block {
      .search_select__conditions {
        &_title {
          font-size: variables.$fz16;
          font-weight: bold;

          margin-top: 40px;
          @include variables.res(lg) {
            margin-top: 40px;
          }

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }

  // ------------------------------------
  // button
  // ------------------------------------
  &__panel {
    &_button {
      background: white;
      display: flex;
      justify-content: center;
      padding: 24px 0;
      @include variables.res(lg) {
        padding: 24px 0;
      }

      .button_more {
        border-radius: 1000px;
      }
    }
  }
}

.search_main {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include variables.res(lg) {
      gap: 40px;
    }
  }

  &__item {
    background: white;
    border-radius: 10px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include variables.res(lg) {
      padding: 60px;
    }

    .caption {
      font-size: variables.$fz12;
    }

    .title {
      font-size: variables.$fz18;
      font-weight: bold;
    }

    .badges {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      font-size: variables.$fz12;

      &_item {
        a {
          display: block;
          border: 1px solid variables.$primary;
          border-radius: 1000px;
          padding: 4px 8px;
          line-height: 1;
          color: variables.$primary;
        }
      }
    }

    .contents {
      dl {
        font-size: variables.$fz14;
        position: relative;
        padding: 22px 0;
        display: flex;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          border-top: 1px solid variables.$gray;
        }
      }

      dt {
        flex: 0 0 100px;
        font-weight: bold;
      }

      dd {
        flex: 1 1 100%;
      }
    }

    .buttons {
      position: relative;
      z-index: 9;
      // margin-top: -24px;
      margin-top: -20px;
      display: flex;
      padding: 0;
      flex-direction: column;
      gap: 16px;

      @include variables.res(lg) {
        padding: 0 14px;
        gap: 36px;
        flex-direction: row;
      }

      .button {
        flex: 1 1 100%;
      }
    }
  }
}

.search_main {
  &__nav {
    &_list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 16px;
      @include variables.res(lg) {
        gap: 16px;
      }
    }
    &_item {
      // &:last-child {
      //   margin-right: auto;
      // }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 40px;
        font-weight: bold;
        font-size: variables.$fz20;
        transition: all 300ms;
        border: 1px solid variables.$primary;
        color: variables.$primary;

        &:hover {
          background-color: variables.$primary;
          color: white;
        }
      }

      &.active,
      &.next {
        a {
          background-color: variables.$primary;
          color: white;

          &:hover {
            background-color: white;
            color: variables.$primary;
          }
        }
      }

      &.next {
        a {
          font-size: variables.$fz16;
        }
      }
    }
  }
}
