@use "../common/_variables";

// Main
.useful_top {
}

.useful_contents {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  padding: 16vw 20px;

  gap: 0;
  flex-direction: column;
  @include variables.res(lg) {
    flex-direction: row;
    gap: 20px;

    padding: 80px 20px;
  }
}

.useful_entry,
.useful_main {
  width: 100%;
  padding: 0 0 16vw;

  @include variables.res(lg) {
    flex: 0 1 815px;
    padding: 0 0 80px;
  }
}

.useful_side {
  width: 100%;
  padding: 0 0 16vw;

  display: flex;
  flex-direction: column;
  gap: 25px;

  @include variables.res(lg) {
    flex: 0 0 265px;
    padding: 0 0 80px;
  }

  &__button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include variables.res(lg) {
      gap: 20px;
    }

    text-align: center;

    .text {
      font-size: variables.$fz12;

      line-height: 1.2;
      margin-top: 10px;
      a {
        padding: 0;
        color: variables.$primary;
      }
    }
  }

  &__menu {
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid variables.$primary;

    font-size: variables.$fz14;
    @include variables.res(lg) {
      font-size: variables.$fz14;
    }

    .title {
      background: variables.$primary;
      color: white;
      min-height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 5px;
      line-height: 1.2;
      font-weight: bold;
    }

    .list {
      .item {
        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          gap: 8px;
          padding: 16px;
          transition: all 300ms;
          border-top: 1px solid variables.$primary;

          &:hover {
            background-color: variables.$gray-light;
          }

          .thb {
            flex: 0 0 55px;

            position: relative;
            aspect-ratio: 55/50;
            width: 55px;
            // height: 100%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .label {
            font-weight: bold;
            flex: 1 1 100%;

            span {
              display: inline-block;
            }
          }

          .icon {
            margin-left: auto;
            color: variables.$primary;
            flex: 0 0 12px;
          }
        }
      }
    }
  }

  &__bottom {
    @include variables.res(lg) {
      padding-top: 20px;
    }
    .title {
      background: variables.$primary;
      color: white;
      min-height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 5px;
      line-height: 1.2;
      font-weight: bold;
    }

    .list {
      display: flex;
      flex-direction: column;
      margin-top: 24px;
      gap: 24px;
      @include variables.res(lg) {
        gap: 24px;
      }

      .item {
        .subject {
          position: relative;
          padding-left: 10px;
          font-size: variables.$fz14;

          // border-bottom: 1px solid red;
          @include variables.res(lg) {
          }

          &:before {
            content: "";
            height: 20px;
            width: 3px;
            background: variables.$primary;
            display: block;
            position: absolute;
            left: 0;
            top: 1px;
          }
        }
        .banner {
          display: block;
          margin-top: 8px;
          aspect-ratio: 13/7;
          width: 100%;
          overflow: hidden;

          @include variables.res(lg) {
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.useful_bottom {
}
